name: CI - Build & Push to ECR

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      image_name: ${{ steps.push-image.outputs.image }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push Docker image
        id: push-image
        run: |
          IMAGE_TAG=${GITHUB_SHA::8}
          ECR_REPO="811738710312.dkr.ecr.us-east-1.amazonaws.com/strapi-repo"
          IMAGE_NAME="$ECR_REPO:$IMAGE_TAG"

          echo "Building Docker image..."
          docker build -t $IMAGE_NAME .
          echo "Pushing to ECR..."
          docker push $IMAGE_NAME

          echo "image=$IMAGE_NAME" >> $GITHUB_OUTPUT
