name: CI - Build & Push to Docker Hub

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          IMAGE_TAG=${GITHUB_SHA::8}   # first 8 chars of commit SHA
          IMAGE_NAME=${{ secrets.DOCKERHUB_USERNAME }}/strapi-test:$IMAGE_TAG
          docker build -t $IMAGE_NAME ./my-strapi
          docker push $IMAGE_NAME
          
          # Save image name for CD workflow
          echo "IMAGE_NAME=$IMAGE_NAME" >> $GITHUB_ENV

